<h2>Create New Profile</h2>
<form class="" action="/profiles" method="post">
  <label>Profile Type</label>
  <br>
  <input type="text" name="profile[name]" id="profile_name">
  <br>
  <label>Summary</label>
  <input type="text" name="profile[content]" id="profile_content">
  <br>
  <input type="submit" name="Create New Profile" value="Create New Profile">
</form>
<a class="button" href="/logout">Logout</a>
<a class="button" href="/">Home</a>
