<form class="" action="/signup" method="POST">
  <!-- Use placeholders - looks clearner-->
  <label>Email</label>
  <br>
  <input type="text" name="email">
  <br>
  <label>Username</label>
  <br>
  <input type="text" name="username">
  <label>Password</label>
  <br>
  <input type="password" name="password">
  <!-- adds the dots for the password -->
  <label>Balance</label>
  <br>
  <input type="text" name="balance">
  <br>
  <label>Write some stuff about you!</label>
  <br>
  <input type="text" name="content">
  <br>
  <input type="submit" name="Signup" value="Signup">
</form>
