<form class="" action="/transactions" method="POST">
  <label>Email</label>
  <br>
  <input type="text" name="email">
  <br>
  <label>Username</label>
  <br>
  <input type="text" name="username">
  <label>Password</label>
  <br>
  <input type="text" name="password">
  <label>Balance</label>
  <br>
  <input type="text" name="balance">
  <br>
  <label>Write some stuff about you!</label>
  <br>
  <input type="text" name="content">
  <br>
  <input type="submit" name="Signup" value="Signup">
</form>
