<form class="" action="/edit" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label>Email</label>
  <br>
  <input type="text" name="email">
  <br>
  <label>Username</label>
  <br>
  <input type="text" name="username">
  <br>
  <label>Password</label>
  <br>
  <input type="text" name="password">
  <br>
  <label>Balance</label>
  <br>
  <input type="text" name="balance">
  <br>
  <label>Write some stuff about you!</label>
  <br>
  <input type="text" name="content">
  <br>
  <input type="submit" value="Signup" id="submit">
</form>

<form class="" action="/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Transaction" value="delete" id="Delete Transaction">
</form>
