<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username"><br>

    <label>Password</label>
    <input type="text" name="password">

    <input type="submit" value="Login" id="submit">
    
    <label>Don't have an account?</label>
    <a href="/users/signup">Signup</a>
</form>
