<h1> <% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %> </h1>
<form action="/login" method="POST">
    <label>Username</label>
    <br>
    <input type="text" name="username">
    <br>
    <label>Password</label>
    <br>
    <input type="password" name="password">
    <!-- adds the dots for the password -->
    <br>
    <input type="submit" value="Login" id="submit">
    <br>
    <label>Don't have an account?</label>
    <br>
    <a href="/signup">Signup</a>
</form>
