<form class="" action="/transactions/<%@transaction.id%>" method="post">
  <br>
  <h1>Transaction version? (Deposit or Withdrawl)</h1>
    <input id="transaction_version" type="checkbox" name="deposit">Deposit</input>
    <input id="transaction_version" type="checkbox" name="withdrawl">Withdrawl</input>
    <br>
  <h1>Amount</h1>
    <input id="transaction_amount" type="text" name="transaction[amount]">
    <br>
    <input id="submit" type="submit" name="Submit" value="submit">
    <br>
</form>
