<form class="" action="/transactions" method="post">
  <h1>Deposit or Withdrawl?</h1>
    <input id="transaction_type" type="text" name="transaction[type]">
  <h1>Ammount</h1>
    <input id="transaction_ammount" type="text" name="transaction[ammount]">
    <input id="submit" type="submit" name="Submit" value="submit">
</form>
