<form class="" action="/transactions" method="post">
  <br>
  <h3>Transaction Type? (Deposit or Withdrawl )</h3>
    <input id="transaction_type" type="text" name="transaction[type]">
    <br>
  <h3>Ammount</h3>
    <input id="transaction_ammount" type="text" name="transaction[ammount]">
    <br>
    <input id="submit" type="submit" name="Submit" value="submit">
    <br>
</form>
