<form class="" action="/transactions" method="post">
  <br>
  <h3>Transaction Type? (Deposit or Withdrawl )</h3>
    <input id="transaction_type" type="checkbox" name="transaction[type]["deposit"]">Deposit</input>
    <input id="transaction_type" type="checkbox" name="transaction[type]["withdrawl"]">Withdrawl</input>
    <br>
  <h3>Amount</h3>
    <input id="transaction_amount" type="text" name="transaction[amount]">
    <br>
    <input id="submit" type="submit" name="Submit" value="submit">
    <br>
</form>
