<h1>Create Transaction</h1>
<form class="" action="/transactions" method="post">
  <br>
  <h3>Transaction version? (Deposit or Withdrawl)</h3>
    <input id="transaction_version" type="checkbox" name="deposit">Deposit</input>
    <input id="transaction_version" type="checkbox" name="withdrawl">Withdrawl</input>
    <br>
  <h3>Amount in cents (converts every 100 cents to dollars)</h3>
    <input id="transaction_amount" type="text" name="transaction[amount]">
    <br>
    <input id="submit" type="submit" name="Submit" value="submit">
    <br>
</form>
