<h2>Transaction ID: <%=@transaction.id%> </h2>
<h2> <%=@transaction.version%> of <%= cents_to_dollars(@transaction.amount) %> </h2>
<br>
<a href="/transactions">Back to list of Transactions</a>
<br>
<a href="/transactions/<%=@transaction.id%>/edit">Edit Transaction</a>
<br><a href="/transactions">Back to Transactions list</a>
