<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Basic Bank</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Requires public folder in root directory -->
  </head>
    <body>

        <div class="container center">
          <h1>Welcome to The Basic Bank</h1>
          <%= yield %>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js">
  </body>
</html>
